<%
var title = '';
if (page.category) title = page.category;
  if (page.tag) title = page.tag;
    if (page.archive){
      if (page.year) title = page.year + (page.month ? '/' + page.month : '');
      else title = __('archive_a');
      }
      %>
      <h2 class="archive-title<% if (page.tag){ %> tag<% } else if (page.category){ %> category<% } %>"><%= title %></h2>

      <% if (pagination == 2){ %>
      <% page.posts.each(function(item){ %>
      <%- partial('article', {item: item, index: true}) %>
      <% }); %>

      <%- partial('pagination') %>
      <% } else { %>
      <div>
        <% page.posts.each(function(item){ %>
        <article class="<%= item.layout %>">
          <div class="post-content">
            <header>
              <div class="icon"></div>
              <time datetime="<%= item.date.toDate().toISOString() %>"><span><%= item.date.format(config.date_format) %></span></time>
              <% if (item.link){ %>
              <% if (item.title){ %>
              <h4 class="title link"><a href="<%- item.link %>" target="_blank"><%= item.title %></a></h4>
              <% } else { %>
              <h4 class="title link"><a href="<%- item.link %>" target="_blank"><%= item.link %></a></h4>
              <% } %>
              <% } else { %>
              <h4 class="title"><a href="<%- config.root %><%- item.path %>"><%= item.title %></a></h4>
              <% } %>
            </header>
          </div>
        </article>
        <% }); %>
      </div>
      <% } %>