<div class="row">
	<div class="large-12 columns">
		<div class="nav-bar right">
			<ul class="button-group">
				<% for (var i in theme.menu){ %>
				<li><a class="button" href="<%- theme.menu[i] %>"><%= i %></a></li>
				<% } %>
			</ul>
		</div>
		<h1>
			<a href="<%- config.root %>"><%= config.title %></a> 
			<small>
				<a href="<%- config.root %>"><% if (config.subtitle){ %><%= config.subtitle %><% } %></a>
			</small>
		</h1>
		<hr/>
	</div>
</div>