<% if (item.link){ %>
  <% if (item.title){ %>
    <h3 class="title"><a href="<%- item.link %>" target="_blank"><%= item.title %></a></h3>
  <% } else { %>
    <h3 class="title"><a href="<%- item.link %>" target="_blank"><%= item.link %></a></h3>
  <% } %>
<% } else { %>
  <% if (index){ %>
    <h3 class="title"><a href="<%- config.root %><%- item.path %>"><%= item.title %></a></h3>
  <% } else { %>
    <h3 class="title"><%= item.title %></h3>
  <% } %>
<% } %>