<%- partial('_partial/head') %>

<body>
	<header id="header" class="inner"><%- partial('_partial/header') %></header>
	<div id="content" class="row">
		<div id="main-col" class="large-9 columns">
			<div id="wrapper">
				<%- body %>
			</div>
		</div>
		<div id="sidebar" class="large-3 columns">
			<%- partial('_partial/sidebar') %>
		</div>
	</div>
	<footer id="footer" class="row"><%- partial('_partial/footer') %></footer>
	<%- partial('_partial/after_footer') %>
</body>
</html>